.detail__content {
    display: flex;
}

.left__content {
    width: 50%;
    margin-top: 95px;
    margin-left: 66px;
}

.item__image {
    width: 100%;
    padding-top: 36px;
    padding-left: 45px;
    padding-right: 45px;
    border-radius: 4px;
}

.item__image img {
    width: 100%;
}

.right__content {
    width: 50%;
    margin-top: 95px;
    margin-right: 66px;
    padding-left: 65px;
    padding-right: 55px;
}

.item__title {
    font-family: "Inter", serif;
    font-style: normal;
    font-size: 45px;
    line-height: 100%;
    font-weight: 700;
    vertical-align: middle;
}

.item__name {
    margin-bottom: 0;
}

.brand__name {
    font-family: "Inter", serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    vertical-align: middle;
}

.item__price {
    font-family: "Inter", serif;
    font-style: normal;
    font-size: 30px;
    font-weight: 400;
    line-height: 100%;
    vertical-align: bottom;
    margin-top: 28px;
}

.price {
    font-family: "Inter", serif;
    font-style: normal;
    font-size: 45px;
    font-weight: 400;
    line-height: 100%;
    vertical-align: middle;
}

.icons {
    width: 144px;
    height: 67px;
    display: flex;
    align-items: center;
    margin-top: 28px;
    margin-left: 45px;
}

.like__button,
.unlike__button {
    width: 45px;
    height: 40px;
    background-color: #fff;
    text-align: center;
}

.like__button--submit,
.unlike__button--submit {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #fff;
    border: none;
    align-content: center;
    cursor: pointer;
}

.like__button--submit img,
.unlike__button--submit img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
}



.unlike__button--submit img {
    clip-path: polygon(50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%);
    background-color: yellow;
}

.like__count {
    display: block;
    font-family: "Inter", serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
}

.comment__icon {
    width: 40px;
    height: 40px;
    margin-left: 64px;
}

.comment__icon img {
    display: block;
    width: 100%;
    height: 100%;
}

.buy__button {
    width: 100%;
    height: 100px;
    padding: 22px 0;
}

.buy__button a {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 56px;
    background-color: #FF5555;
    border: none;
    border-radius: 4px;
    font-family: "Inter", serif;
    font-style: normal;
    font-size: 30px;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
    align-content: center;
    color: #FFFFFF;
}

.item__description {
    width: 100%;
    height: 321px;
}

.description__title {
    display: flex;
    width: 100%;
    height: 74px;
    font-family: "Inter", serif;
    font-style: normal;
    font-size: 36px;
    font-weight: 700;
    line-height: 100%;
    margin-top: 0;
    align-items: center;
}

.description__content {
    width: 100%;
    font-family: "Inter", serif;
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
}

.information__title {
    display: flex;
    height: 100px;
    font-family: "Inter", serif;
    font-style: normal;
    font-size: 36px;
    font-weight: 700;
    line-height: 100%;
    align-items: center;
}

.information__category {
    display: flex;
}

.category__content {
    display: flex;
}

.subtitle__category {
    font-family: "Inter", serif;
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
    margin-right: 60px;
}

.category__icon {
    display: flex;
    width: 100px;
    height: 30px;
    background-color: #D9D9D9;
    border-radius: 15px;
    margin-left: 22px;
    justify-content: center;
    font-family: "Inter", serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    align-items: center;
}

.information__status {
    height: 100px;
    margin-top: 0;
    display: flex;
}

.subtitle__status {
    font-family: "Inter", serif;
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
    margin-right: 76px;
}

.status__content {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
}

.item__comment {
    width: 570px;
}

.comment__title {
    width: 100%;
    height: 100px;
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: #5F5F5F;
}

.comment__user {
    width: 100%;
    height: 200px;
}

.comment__user--profile {
    display: flex;
    align-items: center;
}

.comment__user--profile img {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    margin-right: 18px;
}

.comment__user--name {
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
}

.comment__user--content {
    margin-top: 19px;
    width: 100%;
    height: 70px;
    background-color: #E5E5E5;
    border-radius: 5px;
    align-content: center;
}

.comment {
    font-family: "Inter", serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 100%;
}

.form__input--label {
    margin-top: 41px;
    display: block;
    width: 100%;
    height: 50px;
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
}

.form__input--text textarea {
    width: 100%;
    height: 246px;
    border: 2px solid #5f5f5f;
    border-radius: 5px;
}

.comment__button {
    width: 100%;
    height: 100px;
    margin-top: 26px;
}

.comment__button--submit {
    width: 100%;
    height: 56px;
    background-color: #ff5555;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 100%;
}

.form__error {
    font-family: "Inter", serif;
    margin-top: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    color: #FD0707;
}

@media (max-width: 850px) {
    .left__content,
    .right__content {
        width: 100%;
        margin: 40px auto;
        padding: 0 20px;
    }

    .detail__content {
        flex-direction: column;
        align-items: center;
    }

    .item__comment {
        width: 100%;
        padding: 0 20px;
    }

    .icons {
        margin-left: 0;
        justify-content: center;
    }

    .comment__icon {
        margin-left: 24px;
    }

    .buy__button {
        padding: 10px 0;
    }
}

@media (min-width: 1400px) and (max-width: 1540px) {
    .left__content,
    .right__content {
        width: 50%;
        margin-top: 80px;
        padding: 0 40px;
    }

    .item__comment {
        width: 600px;
    }

    .buy__button {
        height: 90px;
        padding: 20px 0;
    }
}