.list__nav {
    display: flex;
    vertical-align: middle;
    width: 100%;
    max-width: 1512px;
    height: 47px;
    margin: 47px auto 0;
    border-bottom: 2px solid #5F5F5F;
}

.list__nav--text {
    margin-left: 130px;
    text-align: right;
    font-family: "Inter", serif;
    font-style: normal;
    font-size: 24px;
    line-height: 29.05px;
    text-decoration: none;
    color: #5f5f5f;
}

.mylist {
    margin-left: 52px;
    text-align: right;
    font-family: "Inter", serif;
    font-style: normal;
    font-size: 24px;
    line-height: 29.05px;
    text-decoration: none;
}

.list__nav--text.active {
    color: #ff0000;
}

.item__contents {
    width: 100%;
    max-width: 1512px;
    margin: 0 auto;
    padding: 0 20px;
}

.item__content--inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    justify-content: center;
    gap: 71px;
    padding: 40px 0;
    margin: 76px 69px 0;
}

.item__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 290px;
}

.item__content img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border: 1px solid #ccc;
}

.detail__content {
    margin-top: 10px;
    font-family: "Inter", serif;
    font-style: normal;
    font-size: 25px;
    line-height: 30.26px;
}

.item__content a {
    text-decoration: none;
    font-family: "Inter", serif;
    font-style: normal;
    font-size: 25px;
    line-height: 30.26px;
    color: #000;
}

.sold__item {
    display: block;
    width: 290px;
    height: 320px;
    margin-right: 71px;
    margin-bottom: 76px;
    text-align: center;
    align-content: center;
    font-family: "Inter", serif;
    font-style: normal;
    font-size: 35px;
}

@media (max-width: 1540px) {
    .item__content--inner {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1400px) {
    .item__content--inner {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 850px) {
    .item__content--inner {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 480px) {
    .item__content--inner {
        grid-template-columns: 1fr;;
    }
}