.mypage__profile {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    margin-top: 78px;
    align-items: center;
}

.profile__icon img {
    width: 150px;
    height: 150px;
    border-radius: 150px;
}

.profile__name {
    font-family: "Inter", serif;
    font-style: normal;
    font-size: 36px;
    font-weight: 700;
    line-height: 100%;
    margin-left: 57px;
    align-content: center;
    text-align: center;
}

.rating {
    display: flex;
    font-size: 40px;
    color: #ccc;
    margin-left: 30px; 
}

.star {
    margin-right: 5px;
}

.active {
    color: gold;
}

.profile__link {
    display: block;
    text-decoration: none;
    width: 310px;
    height: 59px;
    border: solid 2px #ff5555;
    border-radius: 10px;
    font-family: "Inter", serif;
    font-style: normal;
    font-size: 26px;
    font-weight: 700;
    line-height: 100%;
    color: #ff5555;
    align-content: center;
    text-align: center;
    margin-left: 250px;
}

.list__nav {
    margin-left: 129px;
    margin-top: 77px;
}

.list__nav {
    list-style: none;
    display: flex;
    align-items: center;
    font-family: "Inter", serif;
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
    color: #5f5f5f;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #5f5f5f;
    margin-top: 15px;
}

.list__nav--text {
    text-decoration: none;
    color: #5f5f5f;
}

.total__unread {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #ff0000;
    color: #fff;
    border-radius: 50%;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-left: 10px;
}

.buy {
    margin-left: 52px;
}

.trading {
    margin-left: 52px;
}

.badge__red {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: #ff0000;
    color: #fff;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 700;
    margin-top: 5px;
    margin-left: 5px;
}

.item__link {
    position: relative;
}

.list__nav li.active {
    color: #ff0000;
}

.item__contents--inner {
    display: flex;
    margin-left: 69px;
    margin-top: 76px;
    flex-wrap: wrap;
}

.item__content {
    width: 290px;
    height: 320px;
    margin-right: 71px;
    margin-bottom: 76px;
}

.item__content img {
    width: 100%;
    height: 290px;
}

.detail__content {
    width: 290px;
    height: 30px;
    font-family: "Inter", serif;
    font-style: normal;
    font-size: 25px;
    line-height: 30.26px;
}

.item__content a {
    text-decoration: none;
    font-family: "Inter", serif;
    font-style: normal;
    font-size: 25px;
    line-height: 30.26px;
    color: #000;
}

.list__nav--text.active {
    color: #ff0000;
}

@media (min-width: 768px) and (max-width: 851px) {
    .profile__icon {
        margin-left: 70px;
    }

    .profile__name,
    .profile__link {
        font-size: 24px;
    }

    .profile__link {
        margin-left: 100px;
        width: 30%;
        font-size: 20px;
    }

    .item__contents--inner {
        margin-left: 45px;
    }
}