.header {
    width: 100%;
    background-color: black;
}

main {
    display: flex;
}

.sidebar {
    width: 100%;
    max-width: 260px;
    height: 100vh;
    background-color: #868686;
    text-align: center;
}

.sidebar__title {
    margin-top: 15px;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 55px;
}

.other__item--link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 197px;
    height: 40px;
    background-color: #EEEFEB;
    margin: auto;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
    margin-bottom: 45px;
}

.content {
    width: 100vw;
}

.content__title {
    width: 100%;
    padding-left: 40px;
    display: flex;
    align-items: center;
}

.content__title img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 25px;
}

.trading__user {
    font-size: 36px;
    font-weight: 700;
}

.trade__complete--form {
    width: 170px;
    height: 55px;
    margin-left: auto;
    margin-right: 41px;
}

.trade__complete--button {
    width: 100%;
    height: 100%;
    background-color: #ff8282;
    color: #fff;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.trading__item {
    border-bottom: 2px solid #5f5f5f;
    border-top: 2px solid #5f5f5f;
    display: flex;
    padding: 15px 40px;
}

.trading__item img {
    width: 205px;
    height: 205px;
    margin-right: 40px;
}

.trading__item--name {
    font-size: 48px;
    font-weight: 700;
    font-style: bold;
    padding: 16px 8px;
    margin-top: 30px;
    margin-bottom: 0;
}

.trading__item--price {
    display: inline;
    font-size: 36px;
    font-weight: 400;
    padding: 16px 8px;
    margin-top: 0;
}

.chat__messages {
    width: 100%;
    height:calc(40vh);
    overflow-y: auto;
}

.message__inner--right {
    width: 100%;
    max-width: 460px;
    margin-left: auto;
    padding-bottom: 80px;
    margin-top: 10px;
}

.message__inner--left {
    margin-left: 25px;
    padding-bottom: 80px;
}

.message__user--profile {
    display: flex;
    align-items: center;
}

.right {
    justify-content: end;
}

.message__user--profile img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #5f5f5f
}

.message__user--name {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
}

.image__content--right {
    display: flex;
    justify-content: end;
}

.message__image {
    width: 150px;
    height: 150px;
    margin-bottom: 5px;
}

.message {
    width: 460px;
    min-height: 60px;
    background-color: #d9d9d9;
    border-radius: 4px;
    border: none;
    padding: 5px;
}

.buttons {
    display: flex;
    justify-content: end;
    margin-top: 5px;
}

.edit__form {
    margin-right: 20px;
}

.edit__button,
.delete__button {
    background: none;
    border: none;
    font-size: 15px;
    font-weight: 400;
    color: #5f5f5f;
}

.chat__form {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-left: 25px;
    margin-bottom: 18px;
}

.chat__input {
    width: 100%;
    max-width: 940px;
    height: 45px;
    border: 1px solid #5f5f5f;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    color: #7b7b7b;
}

.input__image {
    display: none;
}

.image__content {
    position: relative;
    width: 100%;
    max-width: 140px;
    margin-left: 18px;
}

.image__output img {
    position: absolute;
    bottom: 0;
    z-index: 10;
    width: 100%;
    max-width: 140px;
    height: 140px;
    border-radius: 4px;
    object-fit: scale-down;
}

.input__label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 140px;
    height: 45px;
    border: 2px solid #ff5555;
    border-radius: 10px;
    color: #ff5555;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.submit__button {
    width: 80px;
    height: 60px;
    background: none;
    border: none;
    cursor: pointer;
}

.submit__button img {
    width: 100%;
}